<!DOCTYPE html>
<html>
  <head>
    <title>BetterCV</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>BetterCV</h1>
    <div id="root"></div>
    <script src="http://localhost:5000/dist/bundle.js"></script>
  </body>
</html>
